body {
font-family: "Lora";
}
.logo {
position: absolute;
width: 231px;
height: 140px;
left: 28px;
top: -19px;
}
h2 {
color: #000000;
}
.user {
position: absolute;
width: 57px;
height: 33px;
left: 1375px;
top: 15px;
font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 33px;
}

.nav-height {
width: 1920px;
height: 94px;
left: 0px;
top: 0px;

background: rgba(16, 24, 32, 0.95);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.sidebar{
    background: #00212E;
    margin-top: 0;
    padding-top: 50px;
    position: fixed;
    left: 0;
    width: 320px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;

}


.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 70px;
    text-decoration: none;
    font-weight: 2000;
    padding-left: 20px;
    border-bottom: 3px solid transparent;
    font-size: 25px;

}

.sidebar a:hover{
  border-bottom: 3px solid white;

}
.sidebar a.active{
  border-bottom: 3px solid white;
}

.sidebar i{
    padding-right: 40px;

}

.sidebar-logo {
width: 10px;
height: 55px;
left: 23px;
top: 10px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main{
    margin-left: 265px;
    padding: 0px 10px;
    margin-top: 6rem;

}
#check:checked ~ .sidebar a span{
    display: none;
}

.table-responsive {
    margin: 30px 0;
}
.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
    min-width: 100%;
}
.table-title h2 {
    margin: 8px 0 0;
    font-size: 22px;
}
.search-box {
    position: relative;        
    float: right;
    width: 200px;
    margin-left: 110%;
}
.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 15%;
    border-color: black;
    box-shadow: none;
}
.search-box input:focus {
    border-color: #3FBAE4;
}
.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 25px;
    top: 8px;
    left: 10px;
}
.table-head-color {
    background-color: #00212e;
    color: white;
}

table.table tr th, table.table tr td {
    border-color: black;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}

table.table td:last-child {
    width: 130px;
}
table.table td a {
    color: #a0a5b1;
    display: inline-block;
    margin: 0 5px;
}
table.table td a.view {
    color: #03A9F4;
}
table.table td a.edit {
    color: #FFC107;

table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}    
.modal .modal-dialog {
max-width: 400px;
color: #fff;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
padding: 20px 30px;
}
.modal .modal-header{
    background-color: #3281a0;
}
.modal .modal-content {
border-radius: 1px;
background-color: #262c33;
}
.modal .modal-footer {
background: #262c33;
border-radius: 0 0 1px 1px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .form-control {
border-radius: 1px;
box-shadow: none;
border-color: #dddddd;
}
.modal textarea.form-control {
resize: vertical;
}
.modal .btn {
border-radius: 1px;
min-width: 100px;
} 
.modal form label {
font-weight: normal;
}

@media only screen and (max-width: 768px) {
   .main{
    margin-left: 320px;
   }

   .sidebar{
    width: 90px;
   }

}