<template>
  <div>
    <b-nav
      class="navbar-expand-md  nav-height shadow-sm"
    > 
      <div class="container">
        <img
          src="../assets/img/logo.png"
          alt=""
          class="logo"
          style="width: 200px; height: 125px"
        /> 
        <b-navbar-toggle target="navbarSupportedContent"></b-navbar-toggle>
        <b-collapse
          class="collapse navbar-collapse"
          id="navbarSupportedContent"
          is-nav
        >
          <ul class="navbar-nav ml-auto user">
            <b-nav-item-dropdown right>
              <template #button-content>
                <img src="../assets/img/user.png">
                <span href="" class="text-big"> User</span>
              </template>
              <b-dropdown-item href="#">Log Out</b-dropdown-item>
            </b-nav-item-dropdown>
          </ul>
        </b-collapse>
      </div>
    </b-nav>
  </div>
</template>
<style>
@import "../assets/css/style.css";
</style>