<template>
  <div>
    <div class="sidebar">
      <router-link to="/Dashboard" class="">
        <div class="Active == 'dashboard' ? 'SideBar-active' : ''"
        >
            <img
              src="../assets/img/dash.png" height="55px;" class="ml-10 mt-3 position-absolute" alt=""
            />
            <p class="ml-6 mt-3 option font-weight-bold">Dashboard</p>
        </div>
      </router-link>
      <router-link to="/Patron" class="">
        <div class="Active == 'patron' ? 'SideBar-active' : ''"
        >
            <img src="../assets/img/gr.png" height="55px;"
              class="ml-10 mt-2 position-absolute mt-4"
              alt=""
            />
            <p class="ml-6 mt-2 option font-weight-bold">Patron Management</p>
          </div>
      </router-link>
      <router-link to="/Book" class="">
        <div class="Active == 'book' ? 'SideBar-active' : ''"
        >
            <img
              src="../assets/img/bok.png"
              height="55px;"
              class="ml-10 mt-2 position-absolute mt-4"
              alt=""
            />
            <p class="ml-6 mt-2 option font-weight-bold">Book Management</p>
          </div>
      </router-link>
      <router-link to="/Settings" class="">
        <div class="Active == 'setting' ? 'SideBar-active' : ''"
        >

            <img
              src="../assets/img/set.png"
              height="54px;"
              class="ml-10 mt-3 position-absolute"
              alt=""
            />
            <p class="ml-6 mt-2 option font-weight-bold">Settings</p>
          </div>
      </router-link>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    Active: String,
  },
};
</script>
<style>
@import "../assets/css/style.css"; 
</style>
