<template>
  <div>
    <NavBar />
    <SideBar Active="book" />
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <b-button
              href=""
              class="btn btn-outline-add mt-2"
              v-b-modal.AddBook
              @click="$bvModal.show('AddBook')"
              ><i class="fa fa-plus-circle mr-2"></i>Add Books</b-button>

            <div class="float-right">
              <div class="col-sm-4">
                        <div class="search-box">
                   <input type="text" class="form-control" placeholder="Search" name="search"
                id="search"
                v-model="Search">
                </div>
                    </div>
                    </div>
            <table class="table table-hover table-bordered shadow mt-5">
              <thead class="table-head-color">
                <tr>
                  <th> </th>
                  <th>Name</th>
                  <th>Author</th>
                  <th>Copies <br>Available</th>
                  <th>Category</th>
                  <th>Date Registered</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(Book) in BookModelFilter" :key="Book.id">
                    <td>
                    <a href="#"
                      ><i
                        class="fa fa-pencil fa-lg mr-4"
                        aria-hidden="true"
                        @click="Form = Book"
                        v-b-modal.UpdateBook
                      ></i>
                    </a>
                    <a
                      href="#"
                      @click="SelectedBook = Book"
                      v-b-modal.DeleteModal
                    >
                      <i
                        class="fa fa-trash-o fa-lg mr-4"
                        aria-hidden="true"
                      ></i>
                    </a>
                  </td>
                  <td>
                    {{ Book.name }}
                  </td>
                  <td>
                    {{ Book.author }}
                  </td>
                  <td>
                    {{ Book.copies }}
                  </td>
                  <td>
                    {{ Book.category_id }}
                  </td>
                  <td>
                    {{
                      Book.created_at
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Add Modal -->
         <b-modal id="AddBook" title="Add Book" centered
          modal-header
          no-close-on-backdrop
          no-close-on-esc
          hide-header-close ref="modal"
        >
          <form>
            <b-form-group>
              <label for="Name" class="req">Name:</label>
              <b-form-input id="Name" placeholder="" v-model="Form.name"
              ></b-form-input>
              <label for="Author" class="mt-3">Author:</label>
              <b-form-input id="Author" placeholder="" v-model="Form.author"
              ></b-form-input>
              <label for="Copies" class="mt-3 req">Copies Available:</label>
              <b-form-input id="Copies" placeholder="" v-model="Form.copies"
              ></b-form-input>
              <label for="Category" class="req">Category:</label>
              <!-- <b-form-select v-model="Form.category_id">
                <b-form-select-option value="1"
                  >1</b-form-select-option>
                <b-form-select-option value="2">2
                  </b-form-select-option>
                <b-form-select-option value="3">3</b-form-select-option>                
                <b-form-select-option value="4">4</b-form-select-option>
              </b-form-select> -->

               <b-form-select v-model="Form.category_id">
                <b-form-select-option
                  :value="Category.id"
                  v-for="Category in AllCategories"
                  :key="Category.id"
                  >{{ Category.category }}</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button type="button" class="btn btn-dark mr-2" @click="AddBook">Add Book</button>
              <button type="button" class="btn btn-dark" data-dismiss="modal" block @click="HideModal"
              >Close</button>
            </div>
          </template>
        </b-modal>

<!-- Update Modal -->
         <b-modal id="UpdateBook" title="Update Book" centered modal-header
          no-close-on-backdrop no-close-on-esc
          hide-header-close ref="modal"
        >
          <form>
            <b-form-group>
              <label for="Name" class="required">Name:</label>
              <b-form-input id="Name" placeholder="" v-model="Form.name"
              ></b-form-input>
              <label for="Author" class="mt-3 required">Author:</label>
              <b-form-input id="Author" placeholder="" v-model="Form.author"
              ></b-form-input>
              <label for="Copies" class="mt-3 required">Copies Available:</label>
              <b-form-input id="Copies" placeholder="" v-model="Form.copies"
              ></b-form-input>
              <label for="Category" class="required">Category:</label>
              <b-form-select v-model="Form.category_id">
                <b-form-select-option value="1"
                  >1</b-form-select-option>
                <b-form-select-option value="2"
                  >2</b-form-select-option>
                <b-form-select-option value="3"
                  >3</b-form-select-option>                
                <b-form-select-option value="4"
                  >4</b-form-select-option>
              </b-form-select>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="float-right">
              <button type="button" class="btn btn-outline-add mr-2"
                @click="UpdateBook(SelectedBook)">Update
              </button>
              <button type="button" class="btn btn-outline-add"
                data-dismiss="modal" block @click="HideModal"
              >Close
              </button>
            </div>
          </template>
        </b-modal>

        <!-- DeleteModal -->
        <b-modal id="DeleteModal" title="Confirm Delete" centered ref="modal">
          <p>Are you sure you want to delete this?</p>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button type="button" class="btn secondary mr-2" block
                @click="$bvModal.hide('DeleteModal')"
              >Close
              </button>
              <button type="button" class="btn btn-danger"
                data-dismiss="modal" block
                @click="DeleteModal()"
              >Yes
              </button>
            </div>
          </template>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import NavBar from "../components/Navbar";
import SideBar from "../components/Sidebar";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "App",
  components: {
    NavBar,
    SideBar,
  },
data() {
    return {
      Form: {
        name: "",
        author: "",
        copies: "",
        category_id: "",
      },
      BookModel: [],
      SelectedBook: "",
      Search: "",
    };
  },
  methods: {
      ...mapActions(["fetchBook", "addBook", "updateBook", "deleteBook", "fetchCategory"]),
    AddBook() {
      if (
        this.Form.name == "" ||
        this.Form.author == "" ||
        this.Form.copies == "" ||
        this.Form.category_id == ""
      ) {
        this.ErrorToast();
      } else {
        this.addBook(this.Form);
        this.HideModal();
        this.AddToast();
      }
    },
    UpdateBook(index) {
      if (
        this.Form.name == "" ||
        this.Form.author == "" ||
        this.Form.copies == "" ||
        this.Form.category_id == ""
      ) {
        this.ErrorToast();
      } else {
      console.log(index);
      this.updateBook(this.Form);
      this.HideModal();
      this.UpdateToast();
      }
    },

    DeleteModal() {
      this.deleteBook(this.SelectedBook);

      this.HideModal();
    },
    HideModal() {
      this.$refs.modal.hide();
      this.FormReset();
    },
    FormReset() {
      this.Form = {
        name: "",
        author: "",
        copies: "",
        category_id: "",
      },

      this.SelectedBook = "";
    },
    AddToast() {
      this.$toast.success(`Added Successfully`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    UpdateToast() {
      this.$toast.success(`Updated Successfully`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    ErrorToast() {
      this.$toast.error(`Error`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
  },
     created() {
    this.fetchBook();
    this.fetchCategory()
  },
  computed: {
        ...mapGetters(["AllBooks", "AllCategories"]),
    BookModelFilter() {
      return this.AllBooks.filter((Book) => {
        return this.Search.toLowerCase()
          .split(" ")
          .every((v) => Book.name.toLowerCase().includes(v));
      });
    },
  },
};
</script>
