<template>
  <div>
    <NavBar />
    <SideBar Active="dashboard" />
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-10 col-sm-10 col-lg-6 pb-3">
            <div class="card shadow">
              <div class="card-body">
                <h3>Borrowed and Returned Books</h3>
                <hr />
              </div>
              <div class="card-body">
                <canvas id="barChart" width="300" height="200"></canvas>
              </div>
            </div>
          </div>
          <div class="col-10 col-sm-10 col-lg-6 pb-3">
            <div class="card shadow">
              <div class="card-body">
                <h3>Popular Book Genre</h3>
                <hr />
              </div>
              <div class="card-body">
                <canvas id="pieChart" width="300" height="200"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Chart from "chart.js";
import NavBar from "../components/Navbar";
import SideBar from "../components/Sidebar";
export default {
  name: "App",
  components: {
    NavBar,
    SideBar,
  },
  mounted: function() {
    var ctx1 = document.getElementById("barChart").getContext("2d");
    new Chart(ctx1, {
      type: "bar",
      data: {
        labels: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "Aug",
        ],
        datasets: [
          {
            label: "Returned",

            backgroundColor: "#5094AF",
        data:[16, 12, 36, 20, 28, 12, 4, 59,],
          },
          {
            label: "Borrowed",

            backgroundColor: "#00212E",
          data:[26, 31, 19, 30, 7, 26, 8, 42,], 
          },
        ],
      },
      options: {
        legend: {
          position: "top",
          align: "start",
          labels: {
            boxWidth: 15,
            fontSize: 15,
          },
        },
        tooltips: { mode: "index" },
        scales: {
          xAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
              gridLines: {
                display: false,
              },
            },
          ],
        },
      },
    });

    //  doughnut chart
    var ctx2 = document.getElementById("pieChart").getContext("2d");
    new Chart(ctx2, {
      type: "doughnut",
      data: {
    labels: ["Action", "Historical Fiction", "Non-Fiction", "Comic Book"],
        datasets: [
          {
        backgroundColor: [
          "#4E7A8B",
          "#05384D",
          "#6AC8ED",
          "#FCFF62",],
        data: [5, 11, 24, 15],
          },
        ],
      },
      options: {
        legend: {
          position: "bottom",
          align: "center",
          labels: {
            boxWidth: 15,
            fontSize: 15,
          },
        },
      },
    });
  },
};
</script>

