<template>
  <div>
    <NavBar />
    <SideBar Active="patron" />
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <b-button
              href=""
              class="btn btn-outline-add mt-2"
              v-b-modal.AddPatron
              @click="$bvModal.show('AddPatron')"
              ><i class="fa fa-plus-circle mr-2"></i>Add Patrons</b-button>

              <div class="float-right">
              <div class="col-sm-4">
                <div class="search-box">
                   <input type="text" class="form-control" placeholder="Search" name="search"
                id="search"
                v-model="Search">
                </div>
              </div>
              </div>
            <table class="table table-hover table-bordered shadow mt-5">
              <thead class="table-head-color">
                <tr>
                  <th> </th>
                  <th>Name</th>
                  <th>Email Address</th>
                  <th>Date Registered</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(Patron) in PatronModelFilter" :key="Patron.id">
                    <td>
                    <a href="#"
                      ><i
                        class="fa fa-pencil fa-lg mr-4"
                        aria-hidden="true"
                        @click=" Form = Patron"
                        v-b-modal.UpdatePatron
                      ></i>
                    </a>
                    <a
                      href="#"
                      @click="SelectedPatron = Patron"
                      v-b-modal.DeleteModal
                    >
                      <i
                        class="fa fa-trash-o fa-lg mr-4"
                        aria-hidden="true"
                      ></i>
                    </a>
                  </td>
                  <td>
                    {{ Patron.first_name + " " + Patron.middle_name + " " + Patron.last_name }}
                  </td>
                  <td>
                    {{ Patron.email }}
                  </td>
                  <td>
                    {{
                      Patron.created_at
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
            <!-- Add Modal -->
         <b-modal id="AddPatron" title="Add Patron" centered
          modal-header
          no-close-on-backdrop
          no-close-on-esc hide-header-close ref="modal"
        >
          <form>
            <b-form-group>
              <label for="PatronFirstName" class="req">First Name</label>
              <b-form-input id="PatronFirstName" placeholder="" v-model="Form.first_name"
              ></b-form-input>
              <label for="PatronMiddleName" class="mt-3">Middle Name</label>
              <b-form-input id="PatronMiddleName" placeholder="" v-model="Form.middle_name"
              ></b-form-input>
              <label for="PatronLastName" class="mt-3 req">Last Name</label>
              <b-form-input id="PatronLastName" placeholder="" v-model="Form.last_name"
              ></b-form-input>
              <label for="PatronEmail" class="mt-3 req">Email Address</label>
              <b-form-input id="PatronEmail" placeholder="" v-model="Form.email"
              ></b-form-input>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="float-right">
              <button class="btn btn-dark mr-2" @click="AddPatron">Add Patron
              </button>
              <button type="button" class="btn btn-dark" data-dismiss="modal" block @click="HideModal">Close
              </button>
            </div>
          </template>
        </b-modal>

        <!-- UpdatePatron -->
        <b-modal id="UpdatePatron" title="Update Patron" centered
          modal-header no-close-on-backdrop
          no-close-on-esc hide-header-close ref="modal"
        >
          <form>
            <b-form-group>
              <label for="PatronFirstName" class="required">First Name:</label>
              <b-form-input id="PatronFirstName" placeholder="" v-model="Form.first_name"
              ></b-form-input>
              <label for="PatronMiddleName" class="mt-3 required">Middle Name:</label>
              <b-form-input id="PatronMiddleName" placeholder="" v-model="Form.middle_name"
              ></b-form-input>
              <label for="PatronLastName" class="mt-3 required">Last Name:</label>
              <b-form-input id="PatronLastName" placeholder="" v-model="Form.last_name"
              ></b-form-input>
              <label for="PatronEmail" class="mt-3 required">Email Address:</label>
              <b-form-input
                id="PatronEmail" placeholder="" v-model="Form.email"></b-form-input>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button type="button" class="btn btn-dark mr-2" @click="UpdatePatron(SelectedPatron)">Update
              </button>
              <button type="button" class="btn btn-dark"
                data-dismiss="modal" block @click="HideModal">Close
              </button>
            </div>
          </template>
        </b-modal>

        <!-- DeleteModal -->
        <b-modal id="DeleteModal" title="Confirm Delete" centered ref="modal">
          <p>Are you sure you want to delete this?</p>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button" class="btn secondary mr-2" block
                @click="$bvModal.hide('DeleteModal')"
              >
                Close
              </button>
              <button type="button" class="btn btn-danger"
                data-dismiss="modal" block @click="DeletePatron()"
              >Yes
              </button>
            </div>
          </template>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import NavBar from "../components/Navbar";
import SideBar from "../components/Sidebar";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "App",
  components: {
    NavBar,
    SideBar,
  },

  data() {
    return {
      Form: {
      first_name: "",
        middle_name: "",
        last_name: "",
        email: "",

      },
      PatronModel: [],
      SelectedPatron: "",
      Search: "",
    };
  },
  methods: {
    ...mapActions(["fetchPatron", "addPatron", "updatePatron", "deletePatron"]),
    AddPatron() {
      if (
        this.Form.first_name == "" ||
        this.Form.middle_name == "" ||
        this.Form.last_name == "" ||
        this.Form.email == ""
      ) {
        this.ErrorToast();
      } else {
        this.addPatron(this.Form);
        console.log(this.form);
        this.HideModal();
        this.AddToast();
      }
    },
    UpdatePatron(index) {
      if (
        this.Form.first_name == "" ||
        this.Form.middle_name == "" ||
        this.Form.last_name == "" ||
        this.Form.email == ""
      ) {
        this.ErrorToast();
      } else {
      console.log(index);
      this.updatePatron(this.Form);
      this.HideModal();
      this.UpdateToast();
      }
    },
    DeletePatron() {
      this.deletePatron(this.SelectedPatron);

      this.HideModal();
    },
    HideModal() {
      this.$refs.modal.hide();
      this.FormReset();
    },
    FormReset() {
      this.Form = {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",

      };

      this.SelectedPatron = "";
    },
    AddToast() {
      this.$toast.success(`Added Successfully`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    UpdateToast() {
      this.$toast.success(`Updated Successfully`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    ErrorToast() {
      this.$toast.error(`Error`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
  },
   created() {
    this.fetchPatron();
  },
 computed: {
    ...mapGetters(["AllPatrons"]),
    PatronModelFilter() {
      return this.AllPatrons.filter((Patron) => {
        return this.Search.toLowerCase()
          .split(" ")
          .every((v) => Patron.first_name.toLowerCase().includes(v));
      });
    },
  },
};
</script>

