<template>
  <div>
    <NavBar />
    <SideBar />
</div>
</template>

<script>
import NavBar from "../components/Navbar";
import SideBar from "../components/Sidebar";
export default {
  name: "App",
  components: {
    NavBar,
    SideBar,
  },
  
          }
</script>

